$charleston_green: #212529;
$gun_metal: #343A40;
$davys_grey: #495057;
$slate_grey: #6C757D;
$cadet_blue_crayola: #ADB5BD;
$light_gray: #CED4DA;
$gainsboro: #DEE2E6;
$cultured: #E9ECEF;
$light_cultured: #F8F9FA;

$imperial_reed: #E5383B;
$carnelian: #BA181B;
$ruby_red: #A4161A;
$blood_red: #660708;

$green_lizard: #9EF01A;
$sheen_green: #70E000;
$ygcw: #38B000;
$ao_english: #008000;



